#  ____   ____ 
# |  _ \ / ___|    Dimitris Gerasimou (dimgerasimou)
# | | | | |  _     <https://github.com/dimgerasimou>
# | |_| | |_| |    
# |____/ \____|
#               
# Git configuration.

[core]
	editor = vim

[user]
	email = gerasimou@ece.auth.gr
	name = Dimitris Gerasimou
	signingkey = FCFD999FAD5F2B9E 
[commit]
	gpgsign = true
