#  ____   ____ 
# |  _ \ / ___|    Dimitrs Gerasimou (dimgerasimou)
# | | | | |  _     <dimgerasimou@gmail.com>
# | |_| | |_| |    https://github.com/dimgerasimou
# |____/ \____|
#               
# Git configuration.

[core]
	editor = vim

[user]
	email = dimgerasimou@gmail.com
	name = Dimitris Gerasimou
	signingkey = A53D78D9EF9F7A4C

[commit]
	gpgsign = true
