#  ____   ____ 
# |  _ \ / ___|    Dimitris Gerasimou (dimgerasimou)
# | | | | |  _     <https://github.com/dimgerasimou>
# | |_| | |_| |    
# |____/ \____|
#               
# Git configuration.

[core]
	editor = nvim

[user]
	email = gerasimou@ece.auth.gr
	name = Dimitris Gerasimou
	signingkey = 375A9B828FBDD77C
	
[commit]
	gpgsign = true
